.book-template {
    display: flex;
    margin: 0.5rem;
    background-color: #fff;
    width: 90%;
    color: #1A2C3E;
}

.book-template:hover {
    color: #1A2C3E;
}

.book-template-cover {
    min-height: 10rem;
    min-width: 7rem;
    max-width: 7rem;
    max-height: 10rem;
    margin: 2rem;
    border-radius: 2px;
    background-color: #EFF2F5;
}

.book-template-informations {
    margin-top: 2rem;
    margin-right: 2rem;
}

.book-template-informations-authors-list {
    display: flex;
}

.book-template-informations-authors-list li{
    margin-right: 1rem;
}