.book-list {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: #fff;
    width: 90%;
    color: #1A2C3E;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
}

.book-list:hover {
    color: #1A2C3E;
}

.book-list-cover {
    min-height: 10rem;
    min-width: 7rem;
    max-width: 7rem;
    max-height: 10rem;
    margin: 2rem;
    border-radius: 2px;
    background-color: #EFF2F5;
}

.book-list-informations {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.book-list-informations-authors-list {
    display: flex;
}

.book-list-informations-authors-list li{
    margin-right: 1rem;
}

@media (min-width: 650px) {
    .book-list {
        flex-direction: row;
    }
  }