.search-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.search-page-form {
    width: 100%;
}

.search-page-form-item {
    width: 100%;
}

.ant-form-item-children {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-page-button {
    max-width: 25rem;
}

.search-page-search-bar {
    max-width: 45rem;
}

.search-page-books-container {
    width: 100%;
    min-height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
