.header {
    min-height: 4rem;
    background-color: #011429;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header a {
    color: #fff
}

.header a:hover {
    color: #fff
}

.header-dropdown {
    align-self: flex-end;
    margin-right: 3rem;
}

.ant-dropdown-link {
    color: #1A2C3E;
}

.ant-dropdown-link:hover {
    color: #1A2C3E
}