.sidebar-menu {
    margin-top: 4rem !important;
    border:0 !important;
}

.ant-layout-sider-children {
    background-color: #fff;
    border: 1px solid #E9E9E9;
}

.ant-layout-sider-zero-width-trigger {
    top: 10px !important;
    left: 10px;
    border-radius: 5px !important;
}