.sign {
    background-image: url('../../images/sign-books-img-3.jpeg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.sign-form {
    position: absolute;
    right: 0px;
    height: 100vh;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-form-intro {
    width: 75%;
    margin-bottom: 3rem;
}

.sign-form-button {
    width: 100%;
}

.sign-form-item {
    width: 80%;
}

.ant-form-item-children {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .sign-form {
        width: 33rem;
    }
  }